* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  position: relative;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.2em;
}

.logo {
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu li {
  display: inline;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
}
.logo img {
  max-width: 50px; /* Set the max width of the GIF logo */
  height: auto; /* Maintain aspect ratio */
}

.content {
  position: relative;
  margin-top: 50px;
}

.character {
  position: relative;
  height: 500px;
  background: url('./Landing.png') no-repeat center;
  background-size: cover;
}

.neon-rings .ring {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.8;
}


footer {
  margin-top: 50px;
  font-size: 0.9em;
  color: #ccc;
}

.mixtape {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9em;
}

